<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lumen/bootstrap.min.css" integrity="sha384-GzaBcW6yPIfhF+6VpKMjxbTx6tvR/yRd/yJub90CqoIn2Tz4rRXlSpTFYMKHCifX" crossorigin="anonymous">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/about_us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/links">Work Cited</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
  <div class="container">
    <h1>About Us</h1>

    <div class="row">
      <div class="col-md-6">
        <h2><a href="https://www.linkedin.com/in/paris-lee-5b93491a2/?trk+contact-info">Paris</a></h2>
        <img src="../static/images/team_member1.jpg" alt="Team Member 1" class="img-fluid" style="max-width: 50px; height: auto;">
        <p>Paris is a newly minted Medical Laboratory Scientist from Cleaveland, Ohio
          She is studying data analystics with the hopes of incorporating it into her
          future career as a physician, with the larger overarching goal of being a point 
          of understandable scientific and medical infomration.  She aims to support her
          community and loved ones, an ultimately help people to be informed and lead
          healthy and fulfilling lives.
        </p>
      </div>
      <div class="col-md-6">
        <h2>
          <a href="https://www.linkedin.com/in/joyceweishan" target="_blank" style="text-decoration: underline;">
            Joy
          </a>
        </h2>
            <img src="../static/images/team_member2.jpg" alt="Team Member 2" class="img-fluid" style="max-width: 50px; height: auto;">
            <p>Joy is an experienced IT professional from rural Wisconsin.  She is studying
              data analytics as well as full stack development to accomodate data visualization
              presentation.  Her goal is to incorporate better understanding of Big Data and
              full stack development to add to her numerous other IT skills.  She aims to 
              support data analytics using an ethical approach with fully implementing applications
              with regulatory compliance, data quality, efficiency in data retrieval and to avoid 
              data bias when possible.
            </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h2><a href="www.linkedin.com/in/laura-zapata-787073268">Laura</a></h2>
        <img src="../static/images/team_member3.jpg" alt="Team Member 3" class="img-fluid" style="max-width: 50px; height: auto;">
        <p>Laura is a Legal Assistant from Houston, Texas, who is passionate about studying data 
          analytics. She hopes to integrate this knowledge into her legal career, with the larger goal 
          of becoming a source for clear and accessible information.</p>
      </div>
    </div>
  </div>

</body>
</html>